.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 14px 16px;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*Logo*/
.navbar .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    transition: color 0.3s ease-out;
}
.navbar .logo:hover a {
    color: #DC143C;
}

.navbar .logo span{
    color: #DC143C;
    transition: color 0.3s ease-in-out;
}
.navbar .logo:hover span {
    color: white;
}

.navbar .logo{
    color: white;
}

/*Ul elements*/
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar ul li a {
    color: #C0C0C0;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    position: relative;
}
.navbar ul li a:before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    height: 3px;
    width: 0px;
    background-color: #DC143C;
    transform: skewX(-45deg);
    transition: 0.3s;
}
.navbar ul li a:hover:before{
    width: 100%;
}
.navbar ul li a:hover{
    color: #DC143C;
}

.navbar .left-menu {
    margin-right: 30px;
}

.navbar .right-menu {
    margin-left: 30px;
}