.slider{
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.slide-img{
    width: 100%;
    height: 500px; /* adjust this value as needed */
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.slide-img .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 200px;
}

.slide-img .overlay .small-img {
    width: 300px; /* adjust this value as needed */
    height: 400px; /* adjust this value as needed */
    margin-right: 200px; /* space between the image and the text */
    border: 2px solid #DC143C;
    border-radius: 5px;
}

.slide-img .overlay p {
    width: 800px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.slider-wrapper {
    overflow: hidden;
}

.slider{
    background:  #DC143C;
    padding-top: 1px;
}

h2.header-slider{
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;

}
.slide-img .overlay .more-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* adjust this value as needed */
    height: 30px; /* adjust this value as needed */
    background-color: #DC143C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    transition: 0.3s ease-out;
}
.slide-img .overlay .more-info:hover{
    background-color: #fff;
    color: #DC143C;
}
.slide-img .overlay .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}